.about__wrapper {
  padding-top: 60px;
  padding-bottom: 120px;
  padding-left: 300px;
  background-image: url("../../img/bg/2022.png");
  background-repeat: no-repeat;
  background-position: left 50px top 60px;
  background-size: 150px 320px;


  @include vp-1023 {
    padding-left: 225px;
    padding-top: 35px;
    padding-bottom: 80px;
    background-position: left 46px top 40px;
  }

  @include vp-767 {
    background: transparent;
    padding-top: 22px;
    padding-bottom: 80px;
  }
}

.about__content-wrapper {
  overflow: hidden;
  margin-bottom: 20px;

  @include vp-1023 {
    margin-bottom: -5px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.about p {
  margin: 0;
  padding: 0 0 20px;

  @include vp-1023 {

  }
}

.about__button {
  margin: 0;

  @include vp-1023 {
    margin-top: 0;
  }
}
