.button {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 10px;
  color: $color-white-for-text;
  border: 1px solid $color-white-for-text;
  border-radius: 3px;
  cursor: pointer;
  transition: all $trans-default;
  user-select: none;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  text-transform: uppercase;
  min-height: 40px;
  letter-spacing: 0.05em;
  align-items: center;
  width: 100%;
  background-color: transparent;

  &--text-top {
    align-items: flex-start;
  }

  &--text-large {
    font-size: 16px;
    line-height: 19px;
  }

  &--w-160 {
    max-width: 160px;
  }

  &--w-180 {
    max-width: 180px;
  }

  &--w-265 {
    max-width: 265px;
  }

  &--w-410 {
    max-width: 410px;
  }

  &--mobile-full-width {
    @include vp-767 {
      max-width: none;
    }
  }

  &--blue {
    border-color: $color-blue;
    background-color: $color-blue;
  }

  &--blue-bordered {
    border: 1px solid $color-blue;
    color: $color-blue;
  }

  &--black {
    border-color: $color-black-for-button;
    background-color: $color-black-for-button;
  }

  &--medium {
    min-height: 45px;
  }

  &--large {
    min-height: 55px;
    font-size: 18px;
    line-height: 21px;
  }

  @include vp-767 {
    max-width: none;
    padding: 5px;

    &--medium {
      min-height: 35px;
      max-width: 160px;
    }

    &--large {
      min-height: 40px;
      font-size: 14px;
      line-height: 16px;
    }

    &--mobile-large {
      min-height: 45px;
    }

    &--w-265 {
      max-width: none;
    }
  }

  @media (hover: hover),
    screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: $color-white-for-text;
      color: $color-black;
    }

    &--blue:hover,
    &--blue:focus {
      border-color: $color-white-for-text;
      color: $color-blue;
    }

    &--blue-bordered:hover,
    &--blue-bordered:focus {
      background-color: $color-blue;
      color: $color-white-for-text;
    }

    &--black:hover,
    &--black:focus {
      border-color: $color-default-white;
      background-color: $color-default-white;
    }
  }
}

.button__label {
  &--mobile-hidden {
    @include vp-767 {
      display: none;
    }
  }

  &--mobile-only {
    display: none;

    @include vp-767 {
      display: inherit;
    }
  }
}
