.section-heading {
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;

  &--small {
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 23px;
    letter-spacing: 0.05em;
  }

  @include vp-767 {
    &--small {
      padding-top: 22px;
      padding-bottom: 20px;
      margin: 0;
    }
  }
}
